<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Backend/Default"/>

<f:section name="main">
    <f:link.action action="main" class="go-back btn btn-default">
        <f:translate key="module.go_back"/>
    </f:link.action>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a id="bar-tab" class="active" data-bs-toggle="tab" data-bs-target="#bar" type="button" role="tab" aria-controls="bar" aria-selected="true">
                <f:translate key="module.bar_chart"/>
            </a>
        </li>
        <li role="presentation">
            <a id="pie-tab" data-bs-toggle="tab" data-bs-target="#pie" type="button" role="tab" aria-controls="pie" aria-selected="false">
                <f:translate key="module.pie_chart"/>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="bar" role="tabpanel" aria-labelledby="bar-tab">
            <f:for each="{data}" key="questionUid" as="questionItem" iteration="i">
                <f:render section="questionDataRow" arguments="{i: i, questionUid: questionUid, questionItem: questionItem, type: 'bar'}"/>
            </f:for>
        </div>
        <div class="tab-pane" id="pie" role="tabpanel" aria-labelledby="pie-tab">
            <f:for each="{data}" key="questionUid" as="questionItem" iteration="i">
                <f:render section="questionDataRow" arguments="{i: i, questionUid: questionUid, questionItem: questionItem, type: 'pie'}"/>
            </f:for>
        </div>
    </div>

    <script>
		require(['TYPO3/CMS/PxaSurvey/Backend/SurveyAnalysis'], function (SurveyAnalysis) {
			var SurveyAnalysisInstance = SurveyAnalysis.getInstance({dataJson -> f:format.htmlentitiesDecode()});

			SurveyAnalysisInstance.init();
		});
    </script>
</f:section>

<f:section name="questionDataRow">
    <div class="row">
        <div class="col-md-4">
            <div class="bs-callout-info">
                <h4>{i.cycle}. {questionItem.label}</h4>
                <p>
                    <f:if condition="{questionItem.allAnswersCount} > 0">
                        <f:then>
                            <i>
                                <f:translate key="module.total_answers"
                                              arguments="{0: questionItem.allAnswersCount}"/>
                            </i>
                            <br>
                            <ol class="answers-list">
                                <f:for each="{questionItem.questionData}" as="questionDataItem">
                                    <li>
                                        {questionDataItem.label} - {questionDataItem.count} <i>({questionDataItem.percents}%)</i>
                                    </li>
                                </f:for>
                            </ol>
                        </f:then>
                        <f:else>
                            <f:translate key="module.no_answers"/>
                        </f:else>
                    </f:if>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <canvas id="chart-{type}-{questionUid}"></canvas>
        </div>
    </div>
    <hr class="divider-hr">
</f:section>
</html>
